-r requirements.txt

build
coverage
jupyter
matplotlib
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-material
mkdocs-section-index
mkdocstrings
mkdocstrings-python
pandas
pre-commit
pyfakefs
tikzplotlib
twine
